<!----
/**
 * author: Peter 
 * contributors: Rafael
 * /examples/chat/static/index.html
 * The HTML for the Chat example.
 */
---->
<center>
<b>Chat Box<b>
<br>
<textarea rows=15 id="messages"></textarea>
<br>
<input id="msgInput" placeholder="enter message here" onChange="send()">
</center>
<script src="pass.js"></script>
<script>
    var send;
    var messageBox = document.getElementById("messages");
    pass.connect(function (server) {
        var inputBox = document.getElementById("msgInput");
        send = function () {
            server.broadcast(inputBox.value); // broadcast input
            inputBox.value = ""; // clear text box       
        }
        /* write the message to the textbox
         * @msg: the message recieved from the server
         */
        function rcv(msg) {
			messageBox.innerHTML += "\n" + msg;
			messageBox.scrollTop = messageBox.scrollHeight;
        }
        server.arrive(rcv); // register rcv callback
    });
</script>
